.center {
    display: "block";
    max-width: "500px";
    margin: "auto";
}

.productlist {
    display: "block";
    max-width: "500px";
    margin: "auto";
    overflow: "scroll";
    height: "400px";
}

.customerPaper {
    height: 250px;
    margin: 2em;
    align-content: left;
}