.customerPaperItem {
    margin: "0 auto";
    padding: 10
}

.mainCenter {
    text-align: center;
    margin: 10 auto;
    margin-top: 20;
    padding: 1em;
}

#customerSelect {
    margin: 0 auto;
    width: 60%;
}

#customerTitleText {
    align-content: center;
}

.bottomBar {
    align-content: center;
    margin: 0 auto;
    text-align: center;
}

.bottomBarButtons {
    margin: 10;
}

.listItemContent {
    margin: 0 auto;
    padding: 1em;
}

.paperContent {
    padding: 1em;
}